{% extends 'base.html' %}
{% block title %}{{ site["title"] }} / 404 {% endblock %}

{% block content %}
<style type="text/css">
<!--
.header,.left,.footer{
    display: none;
    visibility: hidden;
}
.tool{
    color:rgba(255,255,255,1);
    background-color:rgba(0,130,135,.6);
    position: fixed;
    bottom:1px;
    right: 0;
    padding: 5px 5px;
}
.tool a{
    color: rgba(255,255,255,1);
}

#Akari pre {
  font-family: "Lucida Console", monospace;
  font-size: 9pt;
  background-color: #FFFFFF;
  color: #000000;
  float: left;
  line-height: 12px;
  min-width: 900px;
}
</style>
<div class="tool">
    <a href="/">TAKE ME BACK &nbsp;</a>
</div>
<div id="Akari">
<pre>




                                        :,
                                      rL.
                                     ;X.
                                     Jv     ..                                       iiB7
                                     xi2r:F:c7 GU.. ..7..                           1L ::M
                                 , ;ic,.        . r7J.: c:i                      .:.     M:
                               ;,L .                      sJ                  , Ox       L
                             .;,                           a                 :BB:       ir
                            .r,                           LB: :             ; Mr       :K.
                        :.7.G.                            :  MBM,.          Z .       LL.
                      .:7  ,                                   :ME          ::       BD
                      a                                        vO7          ZR    , 0
                      ;                                      ;:,          ;;v    BM
                      E:                                    .J           S       J:
                       :r                                    :2        rx       H:
                      :U                                      L:       3.     :.
                      L0                                        K,   ;F       3,
                     M7  .                                      ;,   H:     :x
                     :uB;Bi                                      ,. M:      M:
                      KMJK:                                      7x:U
                        :0iS                                     KR3      :J
                           .,                               ,M   MB        .
                           :M                            .  ;F:  ,       ,:
                            :                            PsiZ :;         WB
                            :;:                       M;.,BH.r,:          .;K
                            :MDr         .          ,S.JK,3u.:              .J
                             ,M xrs c, GKR,U;       ;L.Ls:,.                rF
                                B07 BG BBr.Mr;       ...                  ;r:
                                ,.  LZ      K:                          . ..
                                          LWL                         .:H
                                      7Bi:,                          1U
                                     rBr                          .H:
                                    3,                           :M:
                                    B.                           ,Z
                                    .                             .,
                                  ;3                              ,M
                                  Lx                               ..
                                   7                                W:
                                   a                                ,.
                                  .U                                 K;
                                  rJ                                 .:
                                 .F                                   O
                                 3:                                   ..
                                ,7 :                                   M
                                   sJ                                  ;
                                    J,                                 Lr
                                                                       ,L
                                    :r                                 .S
                                     Z                                  .a
                                    ;i                                   ;;
                                    Z.                                    W,
                                   x7                                     :
                                   i                                       L                        </pre>
</div>
{% endblock %}