{% extends 'base.html' %}
{% block title %}{{ post.title }} - {{ site.title }}{% endblock %}

{% block content %}

<div class="entry" id="content">
	<div class='title'>
		{{post.title}}
	</div>
	<div class="content">
		{{ post.content }}
	</div>
	<script type="text/javascript">
			content = document.getElementsByClassName('content')[0];
			str = content.innerHTML;
			var reg=new RegExp("https:\/\/gist.github.com\/[a-zA-Z0-9\/.]+");
			var gist = reg.exec(str);
			console.log(gist);
			document.write("#================Gist====================")
			document.write("<script type='text/javascript' src=" + gist + "><\/script>");
			content.innerHTML = str.replace(reg,"");
	</script>
	<div class="info"><span>Posted on {{ post.date | date('%Y-%m-%d %H:%M') }}</span>
		{% for tag in post.tags %}
		<a href="/tags/{{ tag }}">{{ tag }}</a>
		{% endfor %}</div>
</div>
    {% set custom_comment=get_text_file('comment_js').raw_content %}
    {% if custom_comment %}
        <div id="disqus_thread" class="comments"></div>
        {{ custom_comment }}
    {% endif %}

{% endblock %}